body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

#main-container {
  text-align: center; /* Center text inside the container */
}

h1 {
  color: #333333
/* Add space between the title and the map */
}

